.team {
  max-width: 1000px;
  margin: 0 auto;
}

.team__row {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media only screen and (min-width: 750px) {

  .team__row {
    display: flex;
    justify-content: space-between;
  }
}

.player {
  background-color: #FFF;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px 0 10px 10px;
  overflow: hidden;
  border: 2px solid #CDD3D9;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {

  .player {
    width: calc(25% - 15px);
  }
}

.player__header {
  color: #FFF;
  background: linear-gradient(#6441a5, #2a0845);
  border-bottom: 2px solid #CDD3D9;
  position: relative;
  display: flex;
}

.player__stats {
  background-color: #2a0845;
  padding: 10px;
  text-align: center;
}

.player__image {
  display: block;
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
}

.player__body {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.player__name {
  border-bottom: 2px solid #CDD3D9;
  padding: 0 0 5px;
  width: 100%;
  text-align: center;
  margin: 0 0 10px;
  color: inherit;
  font-family: arial;
  font-size: 20px;
  color: #11263C;
}

.player__heading,
.player__text {
  /* margin: 0 0 5px; */
  /* color: inherit; */
  margin: 0;
  font-family: arial;
  font-size: 20px;
}

.player__heading:last-child {
  margin: 0;
}

.player__text {
  font-size: 16px;
}

.player__leagueTeam {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player__league {
  border-left: 2px solid #CDD3D9;
  margin-left: 10px;
  padding-left: 10px;
  font-weight: bold;
  /* margin-bottom: 0; */
  margin: 0;
  font-family: arial;
  font-size: 16px;
}
